/node_modules
/public/hot
/storage/logs
# /storage/app
# /storage/framework
storage/app/*.php
storage/framework/*/*.php
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.history
.DS_Store
