@charset "utf-8"; /* レイアウトのためのCSS */
body {
    background: #f0f0f0;
    font-family: 'Baskervville', serif, "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    color: #333;
    font-size: 1rem;
    line-height: 1.85;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    word-wrap: break-word;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 0.8rem;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #fff;
    outline: none;
}

a:hover, a:active {
    text-decoration: none;
}

/* heading */
.heading-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.heading-block h1, h2 {
    font-family: 'Amatic SC', cursive;
    font-weight: normal;
    font-size: 6vw;
    line-height: 1;
    letter-spacing: 0.05em;
    color: #fff;
}

.heading-block p {
    font-size: 1.2vw;
    letter-spacing: 0.5em;
}

/*横幅が768px以下になった際の指定*/
@media only screen and (max-width: 768px) {
    .heading-block h1, h2 {
        font-size: 4em;
        line-height: 1.5;
    }

    .heading-block p {
        font-size: 1.5em;
        letter-spacing: 0.2em;
    }
}

#box3 h2 {
    color: #925410;
    font-family: unset;
    font-size: 3vw;
}

/* sns icon */
#user-btn img {
    width: 20px;
}

#user-btn {
    position: fixed;
    right: 20px;
    top: 20px;
    display: flex;
    border-radius: 15px;
    background: rgb(59 59 59 / 80%);
}

#user-btn li {
    margin: 0 10px;
}

#user-btn a {
    transition: all .5s;
    text-decoration: none;
}

#user-btn a:hover {
    opacity: 0.7;
}

/* profile-area*/
.profile-area {
    width: 100%;
    max-width: 300px;
    background: rgba(255, 255, 255, 0.8);
    padding: 40px;
    margin: 0 100px 0 0;
    text-align: left;
    letter-spacing: 0.03em;
}

@media screen and (max-width: 768px) {
    .profile-area {
        margin: 0;
    }
}

.profile-area h2 {
    font-size: 0.9rem;
    margin: 0 0 40px 0;
    line-height: 1.8;
    color: #333;
    font-family: 'Baskervville', serif;
    text-align: center;
}

.profile-area h2 span {
    font-size: 1.3rem;
    display: block;
    text-transform: uppercase;
}

.profile-area p {
    margin: 0 0 40px 0;
}

/* form */
.form-list {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.modaal-content-container h3 {
    text-align: center;
    margin: 50px 0;
}

@media screen and (max-width: 768px) {
    .modaal-content-container h3 {
        margin: 0 0 20px 0;
    }
}

input, button, textarea, select {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
}

.form-list input[type='text'], .form-list input[type='email'], .form-list textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #f8f9fa;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-list input[type='text'], input[type='email'] {
    height: 50px;
}

.submit-btn {
    width: 152px;
    margin: 0 auto;
}

input[type='submit'] {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 5px 20px;
    width: 152px;
    margin: 0 auto;
}

input[type='submit']:hover {
    background: #555;
}

.form-list dl {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 0 20px 0;
}

.form-list dt {
    width: 30%;
}

.form-list dd {
    width: 66%;
}

.form-list textarea {
    height: 200px;
}

@media screen and (max-width: 768px) {
    .form-list dt {
        margin: 0 0 10px 0;
    }

    .form-list dt, .form-list dd {
        width: 100%;
    }
}

/* copyright */
small {
    position: fixed;
    left: 20px;
    top: 40%;
    color: #fff;
    letter-spacing: 0.1em;
    line-height: 1;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

/*===========================================================*/
/*プログレスバー＋数字カウントアップ＋画面が開く*/
/*===========================================================*/
/* Loading背景画面設定　*/
#splash {
    /*fixedで全面に固定*/
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
    text-align: center;
    color: #fff;
}

/* Loading画像中央配置　*/
#splash_text {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 100%;
}

/*IE11対策用バーの線の高さ※対応しなければ削除してください*/
#splash_text svg {
    height: 2px;
}

/*割れる画面のアニメーション*/
.loader_cover {
    width: 100%;
    height: 50%;
    background: #017490;
    transition: all 1.0s cubic-bezier(.04, .435, .315, .9);
    transform: scaleY(1);
}

/*上の画面*/
.loader_cover-up {
    transform-origin: center top;
}

/*下の画面*/
.loader_cover-down {
    position: absolute;
    bottom: 0;
    transform-origin: center bottom;
}

/*クラス名がついたらY軸方向に0*/
.coveranime {
    transform: scaleY(0);
}

/*===========================================================*/
/*グラデーション線から塗に変化する*/
/*===========================================================*/
.gradient4 {
    /*ボタンの形状*/
    display: inline-block;
    padding: 10px 60px;
    margin: 20px 0 0 0;
    border-radius: 30px;
    text-decoration: none;
    border: 1px solid #6a5555;
    color: #6a5555;
    /*アニメーションの指定*/
    transition: all 0.4s ease-out;
}

#box3 .gradient4 {
    color: #925410;
    border-color: #925410;
}

/*hoverした際、グラデーションと影を付ける*/
.gradient4:hover, #box3 .gradient4:hover {
    /*ボタンの形状*/
    border-color: transparent;
    color: #fff;
    /*背景の色と形状*/
    background: linear-gradient(270deg, #3bade3 0%, #9844b7 50%, #44ea76 100%);
    background-size: 200% auto;
    background-position: right center;
    /*ボックスの影*/
    box-shadow: 0 5px 10px rgb(250, 108, 159, 0.4);
}

/*===========================================================*/
/*ゆっくりズームアウトさせながら全画面で見せる*/
/*===========================================================*/
#slider {
    width: 100%;
    height: 100vh;
    /*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
}

/*===========================================================*/
/*リンクをクリックすると、背景が暗くなり動画や画像やテキストを表示*/
/*===========================================================*/
.modaal-overlay {
    background: linear-gradient(45deg, rgba(88, 182, 211, .9), rgba(229, 93, 135, .9))!important;
}

/*===========================================================*/
/*サムネイルをクリックするとグループ化された画像一覧を表示する*/
/*===========================================================*/
/*===モーダル表示のためのcss　*/
.hide-area {
    /*モーダル表示をする場所をあらかじめ隠す*/
    display: none;
}

.modaal-fullscreen .modaal-content-container {
    /*full画面の色設定*/
    background: linear-gradient(45deg, rgba(88, 182, 211, .9), rgba(229, 93, 135, .9));
    color: #fff;
    text-align: center;
}

.modaal-fullscreen .modaal-close {
    /*ボタンの色、位置*/
    background: none;
    right: 20px;
}

/*クローズボタンの×の色変更*/
.modaal-close:focus:after, .modaal-close:focus:before, .modaal-close:hover:after, .modaal-close:hover:before {
    background: #666;
}

/*キャプション*/
.caption {
    display: block;
    padding: 10px 0;
}

/*画像の横幅を100%にしてレスポンシブ化*/
.modaal-content-container img {
    border: 5px solid #fff;
    width: 100%;
    max-width: 700px;
    height: auto;
    vertical-align: bottom;
    /*画像の下にできる余白を削除*/
}

/*===========================================================*/
/* 最低限おぼえておきたい動き*/
/*===========================================================*/
/*== じわっ（ぼかしから出現） ==*/
.blur {
    animation-name: blurAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes blurAnime {
    from {
        filter: blur(10px);
        transform: scale(1.02);
        opacity: 0;
    }

    to {
        filter: blur(0);
        transform: scale(1);
        opacity: 1;
    }
}

/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.blurTrigger {
    opacity: 0;
}

/*===========================================================*/
/* テキストが1文字づつ出現*/
/*===========================================================*/
.eachTextAnime span {
    opacity: 0;
}

.eachTextAnime.appeartext span {
    animation: text_anime_on 1s ease-out forwards;
}

@keyframes text_anime_on {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*===========================================================*/
/*スクロールすると1画面移動*/
/*===========================================================*/
.box {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#box1 {
    background: url("/images/画像/インテリア.png") no-repeat center;
    background-size: cover;
}

#box1.box {
    justify-content: flex-end;
}

@media screen and (max-width: 768px) {
    #box1.box {
        justify-content: center;
    }
}

#box2 {
    display: block;
    background-image: url("/images/画像/03-light-carpet.png");
    background-repeat: repeat;
    background-attachment: fixed;
}

#box3 {
    background: url("/images/img/bg_04.jpg") no-repeat center;
    background-size: cover;
}

#box4 {
    background: url("/images/img/bg_05.jpg") no-repeat center;
    background-size: cover;
}

#box5 {
    background: url("/images/img/bg_06.jpg") no-repeat center;
    background-size: cover;
}

/*========= ページネーションCSS ===============*/
.pagination {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1em;
    z-index: 10;
    list-style: none;
}

.pagination a {
    display: block;
    height: 20px;
    margin-bottom: 5px;
    color: #fff;
    position: relative;
    padding: 4px;
}

.pagination a.active:after {
    box-shadow: inset 0 0 0 5px;
}

.pagination a .hover-text {
    position: absolute;
    right: 15px;
    top: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    padding-right: 15px;
}

.pagination a:hover .hover-text {
    opacity: 1;
}

.pagination a:after {
    -webkit-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
    width: 10px;
    height: 10px;
    display: block;
    border: 1px solid;
    border-radius: 50%;
    content: '';
    position: absolute;
    margin: auto;
    top: 0;
    right: 3px;
    bottom: 0;
}

@media screen and (max-width: 768px) {
    .pagination a .hover-text {
        display: none;
    }
}

.slider_width {
    /*横幅94%で左右に余白を持たせて中央寄せ*/
    width: 94%;
    margin: 0 auto;
}

.slider_width img {
    width: 30vw;
    /*スライダー内の画像を60vwにしてレスポンシブ化*/
    height: auto;
}

.slider_width .slick-slide {
    transform: scale(0.8);
    /*左右の画像のサイズを80%に*/
    transition: all .5s;
    /*拡大や透過のアニメーションを0.5秒で行う*/
    opacity: 0.5;
    /*透過50%*/
}

.slider_width .slick-slide.slick-center {
    transform: scale(1);
    /*中央の画像のサイズだけ等倍に*/
    opacity: 1;
    /*透過なし*/
}

/*矢印の設定*/
/*戻る、次へ矢印の位置*/
.slick-prev, .slick-next {
    position: absolute;
    /*絶対配置にする*/
    top: 42%;
    cursor: pointer;
    /*マウスカーソルを指マークに*/
    outline: none;
    /*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;
    /*矢印の色*/
    border-right: 2px solid #666;
    /*矢印の色*/
    height: 15px;
    width: 15px;
    z-index: 10;
}

.slick-prev {
    /*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {
    /*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/
.slick-dots {
    text-align: center;
    margin: 20px 0 0 0;
}

.slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width: 8px;
    /*ドットボタンのサイズ*/
    height: 8px;
    /*ドットボタンのサイズ*/
    display: block;
    border-radius: 50%;
    background: #ccc;
    /*ドットボタンの色*/
}

.slick-dots .slick-active button {
    background: #333;
    /*ドットボタンの現在地表示の色*/
}

/*塗りから線に変わる*/
.btnchangeline {
    /*線の基点とするためrelativeを指定*/
    position: relative;
    /*ボタンの形状*/
    color: #333;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    outline: none;
    /*アニメーションの指定*/
    transition: all 0.3s ease-in-out;
}

/*線の設定*/
.btnchangeline::before {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    /*線の形状*/
    width: 100%;
    height: 100%;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    /*はじめは透過0に*/
    opacity: 0;
    transform: scale(0, 1);
    /*アニメーションの指定*/
    transition: all 0.3s;
}

/*背景の設定*/
.btnchangeline::after {
    content: '';
    /*絶対配置で背景の位置を決める*/
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    /*背景の形状*/
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, #3bade3 0%, #9844b7 50%, #44ea76 100%);
    border-radius: 30px;
    /*アニメーションの指定*/
    transition: all 0.3s;
}

/*hoverした際の背景と線の形状*/
.btnchangeline:hover::before {
    opacity: 1;
    /*不透明に*/
    transform: scale(1, 1);
    /*X方向に線を伸ばす*/
}

.btnchangeline:hover::after {
    opacity: 0;
    /*透過0に*/
    transform: scale(0, 1);
    /*X方向に背景を縮小*/
}

/*テキストの設定*/
.btnchangeline span {
    /*テキストを前面に出すためz-indexの値を高く設定*/
    position: relative;
    z-index: 2;
    /*テキストの形状*/
    color: #fff;
    /*アニメーションの指定*/
    transition: all 0.3s;
}

/*hoverした際のテキストの形状*/
.btnchangeline:hover span {
    letter-spacing: 2px;
    color: #333;
}

/*リンクの形状*/
#page-top a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a6a6a6;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.6rem;
    transition: all 0.3s;
}

#page-top a:hover {
    background: #777;
}

/*リンクを右下に固定*/
#page-top {
    position: fixed;
    right: 20px;
    bottom: 10px;
    z-index: 2;
    /*はじめは非表示*/
    opacity: 0;
    transform: translateY(100px);
}

/*　上に上がる動き　*/
#page-top.UpMove {
    animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*　下に下がる動き　*/
#page-top.DownMove {
    animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 1;
        transform: translateY(100px);
    }
}

#footer {
    position: relative;
    z-index: 2;
}

/* 単体で修正 */
.heading-block>.top_title {
    font-family: 'Baskervville', serif, "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}

.box-area>.picup {
    /* font-family: 'Baskervville', serif, "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif; */
    color: #6a5555;
}


/*========= 画面遷移のためのCSS ===============*/
/*画面遷移アニメーション*/
#splash {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 9999999;
    text-align: center;
    color: #fff;
}

#splash-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    background: #333;
    /*遷移アニメーションと同じ色を指定*/
}

body.appear {
    background: #f0f0f0;
}

.splashbg {
    display: none;
    content: "";
    position: fixed;
    transform: scale(100);
    background-color: #333;
    /*伸びる背景色の設定*/
    z-index: 999;
    /*丸のスタートの形状*/
    top: calc(50% - 1rem);
    /*50%から円の半径を引いた値*/
    left: calc(50% - 1rem);
    /*50%から円の半径を引いた値*/
    width: 2rem;
    height: 2rem;
}

/*bodyにappearクラスがついたら出現*/
body.appear .splashbg {
    display: block;
    border-radius: 50%;
    animation-name: PageAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes PageAnime {
    0% {
        /*丸のスタート位置と形状*/
        transform: scale(100);
    }

    100% {
        /*丸の終了位置と形状*/
        transform: scale(0);
        display: none;
        /*終了時は消える*/
    }
}

/*画面遷移の後現れるコンテンツ設定*/
main {
    opacity: 0;
    /*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear main {
    animation-name: PageAnimeAppear;
    animation-duration: 1s;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes PageAnimeAppear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.scrolldown2 {
    opacity: 0;
}

/*スクロールダウン全体の場所*/
body.appear .scrolldown2 {
    animation-name: PageAnimeAppear;
    animation-duration: 1s;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
    /*描画位置※位置は適宜調整してください*/
    position: absolute;
    bottom: 10px;
    left: 50%;
    opacity: 1;
    z-index: 999;
}

/*Scrollテキストの描写*/
.scrolldown2 span {
    /*描画位置*/
    position: absolute;
    left: 10px;
    bottom: 15px;
    /*テキストの形状*/
    color: #eee;
    font-size: 1.0rem;
    letter-spacing: 0.05em;
    /*縦書き設定*/
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

/* 丸の描写 */
.scrolldown2:before {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom: 0;
    left: -4px;
    /*丸の形状*/
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #eee;
    /*丸の動き1.6秒かけて透過し、永遠にループ*/
    animation: circlemove 1.6s ease-in-out infinite, cirlemovehide 1.6s ease-out infinite;
}

/*下からの距離が変化して丸の全体が上から下に動く*/
@keyframes circlemove {
    0% {
        bottom: 62px;
    }

    100% {
        bottom: -5px;
    }
}

/*上から下にかけて丸が透過→不透明→透過する*/
@keyframes cirlemovehide {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1;
    }

    80% {
        opacity: 0.9;
    }

    100% {
        opacity: 0;
    }
}

/* 線の描写 */
.scrolldown2:after {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom: 0;
    left: 0;
    /*線の形状*/
    width: 2px;
    height: 70px;
    background: #eee;
}

/*画面遷移の後現れるコンテンツ設定*/
#header {
    opacity: 0;
    /*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear #header {
    animation-name: PageAnimeAppear;
    animation-duration: 1s;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/*画面遷移の後現れるコンテンツ設定*/
#header {
    opacity: 0;
    /*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear #header {
    animation-name: PageAnimeAppear;
    animation-duration: 1s;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
    opacity: 0;
}
